{% include 'base.html' %}
{% block content %}
{% load static %}

                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Vehicle List</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <!-- /# column -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Vehicles </h4>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Vehicle Number</th>
                                                    <th>Unit</th>
                                                    <th>Driver</th>
                                                    <th>Model</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                               {% for v in vehicle %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{v.vnum}}</td>

                                                    <td><span class="badge badge-primary">{{v.asunit}}</span></td>
                                                    <td>{{v.driver.fname}} {{v.driver.lname}}</td>
                                                    <td>{{v.vtype}}</td>
                                                    <td>
                                                        <a href="#/{{d.id}}" class="mx-1"><i class="fa fa-eye color-info"></i></a>
                                                        <a href="#/{{d.id}}" class="mx-1"><i class="fa fa-pencil color-primary"></i> </a>
                                                        <a href="#/{{d.id}}"><i class="fa fa-trash color-danger"></i> </a>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    {% include 'footer.html' %}
                       </section>
            </div>
        </div>
    </div>

{% endblock %}